$color_1: rgb(167, 145, 111);
$color_2: #c7bba0;
$color_3: brown;
$color_4: #000000;
$color_5: white;
$background-color_1: rgb(245, 224, 191);
$background-color_2: white;
$background-color_3: antiquewhite;
$background-color_4: #c7bba0;

